.module-head .tit-iXpe{background: url(../images/icon-iXpe.png) no-repeat left center}
.module-head .tit-INV{background: url(../images/pop-INV.png) no-repeat left center}
.module-head .tit-info{background: url(../images/pop-info.png) no-repeat left center}
.icon-INV{width: 16px;height:12px; display: inline-block;  background: url(../images/icon-INV.png) no-repeat center center;margin-right: 6px;}
.icon-del{width: 12px;height: 10px; display: inline-block;  background: url(../images/del.png) no-repeat center center;margin-right: 6px;}
.icon-tips{width: 12px;height: 12px; display: inline-block;  background: url(../images/icon-tips.png) no-repeat center center;margin-right: 6px;}
.iXpe-sys-wrap .icon-menu{width: 12px;height: 10px; display: inline-block;  background: url(../images/icon-menu.png) no-repeat center center;margin-right: 6px;}
.table-wrap .iXpensele-table tbody tr td{text-align: left;}
.table-wrap .iXpensele-table thead tr th{text-align: left;}
.table-wrap .INVrecord-table thead tr th,.table-wrap .INVrecord-table tbody tr td{text-align: left;color: #333333;}
.vote-sys   .iXpensele-table  .table-filter{left: 38px;}
.tab-btn{border-top: 1px solid #e6e6e6}
.tab-btn a{margin: 0 20px;padding: 20px 0 14px 0; float: left; }
.tab-btn .cur{ color: #00aaff; border-bottom: 3px solid #00aaff;}

body .layui-layer{border-radius: 5px;}
.layui-layer .layui-layer-title{padding: 0; height: auto; border-radius: 5px  5px 0 0 !important;}
.layui-layer  .layui-layer-setwin{top: 24px;}
#LAY_layuipro{border-bottom: 1px solid #ebeef0;padding-bottom: 30px;}
.pop{position: fixed; top: 50%; left: 50%;background: #fff; -webkit-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.pop .module-head{border-bottom: 1px solid #ebeef0;}
.pop-con{min-width: 1100px; padding: 20px;}
.pop-con .tips{padding: 8px 15px; background: #fff9f4;color: #d48a49;font-size: 12px;margin-bottom: 40px;}

.pop .layui-form-label{font-style: normal; }
.layui-form-select .layui-anim{ box-shadow: 0px 10px 24px 0px rgba(152, 158, 162, 0.004);}

.layui-table td, .layui-table th{min-height: auto;line-height: normal;}
.pop-left{width: 40%; font-size: 14px; display: inline-block; float: left;}
.pop-left .layui-form-label{width: 7em; font-size: 14px; padding: 9px 15px;}
.pop-left .layui-form-item .layui-input-inline{margin-right: 0;}
.pop-left .layui-form-item .layui-input-block{width: calc(100% - 7em - 30px);height: 32px;}
.pop-left .layui-form-item .layui-input-inline{width: calc(100% - 7em - 30px);height: 32px;}
.inputWidth{width: calc(100% - 7em - 30px)!important; display: inline-block; margin: 0;}
.pop-left input{ height: 35px; color: #b6bdc9; border-radius: 3px; font-size: 12px; border-color: #ebeef0;}
.pop-left input::placeholder{color: #b6bdc9;}
.layui-form-select dl dd.layui-this{background: #1E9FFF;}
.layui-layer-content .red{font-style: normal; font-weight: bold; line-height: 19px; margin-right: 5px;}

.red{color: red;}
.Re{position: relative;}
.pop-right{width: 60%;display: inline-block; float: left; padding-left: 40px; box-sizing: border-box;}
.pop-right input{border-radius: 5px;}
.pop-right .remark-info .layui-input-block label{width: 5em; position: absolute; top: 8px; left: 1em; font-size: 12px;}
.pop-right .remark-info .layui-input-block .layui-input,.pop-right .remark-info .layui-input-block .layui-textarea{width: 320px; height: 32px; margin: 8px 0;font-size: 12px; padding-left: 6em;}
.pop-right .grey-tips{color: #8b94a3;font-size: 12px; margin-left: 7em;margin-bottom: 5px;}
.pop-right label{width: 6em;}
.remark-info .layui-form-label{padding: 13px 0px; text-align: left;}
.Record-label{float: left;}
.Record-table{width: calc(100% - 6em);  float: left;}
.Record-table .layui-table-cell{font-size: 12px!important; color: #333333;}
.Record-table .layui-table-header{background-color: #f5f8fa!important;}
.Record-table .layui-table thead tr{background-color: #f5f8fa!important;}
.layui-table-view .layui-table td, .layui-table-view .layui-table th{padding: 2px 0;}
.Record-table .layui-table-header table{width: 100%;}
.Record-table .layui-table-header .layui-table-cell{color: #8b94a3;}
/*.Record-table tbody{height: 200px; overflow: auto;}*/



#LAY_layuipro2{min-height: 450px; border-bottom: 1px solid #ebeef0}
#demo2 + .layui-form{border-top: none;}
#demo2 + .layui-form table tr td{font-size: 12px;}
.layui-layer .module-head .layui-btn{position: absolute; right: 50px;top: 14px;}
#demo2 + .layui-form .layui-table tr{background: #f5f8fa;}
#LAY_layuipro2 .layui-table-header{background-color: #fff!important;}
#LAY_layuipro2 .layui-table thead tr{background-color: #fff!important;}
#demo2 + .layui-form .layui-table,#demo2 + .layui-form .layui-form{border: none;}
.layui-icon-ok:before{position: relative;top: -1px;}
/*#layui-layer1 .layui-table-header{border-top: none;}*/
.add-wrp{text-align: center;color: #8b94a3; padding: 6px 0; border-bottom: 1px solid #ebeef0;}
.add-wrp .add{font-style: normal;font-weight: bold;font-size: 19px;margin-right: 5px; height: 19px;line-height: 19px;display: inline-block;margin-top: 2px;}
.add-wrp span{cursor: pointer;}
.table-info{border-bottom: 1px solid #ebeef0;color: #b7bdc9;}
.table-info input::placeholder{font-size: 12px;color: #b7bdc9;}
.table-info span,.table-info input{display: inline-block; padding: 14px 15px; box-sizing: border-box; font-size: 12px;}
.table-info span:nth-child(1){width: 5%;}
.table-info input:nth-child(2){width: 20%;}
.table-info input:nth-child(3){width: 15%;}
.table-info input:nth-child(4){width: 10%;}
.table-info input:nth-child(5){width: 10%;}
.table-info input:nth-child(6){width: 15%;}
.table-info input:nth-child(7){width: 25%;}

.btn-wrp{text-align: center;}
.btn-wrp .btn{font-size: 12px; padding: 5px 12px; border-radius: 5px;border: 1px solid #c8cacc;display: inline-block;margin: 12px 5px; cursor: pointer;}
.btn-wrp .btn.sure{background: #00aaff; border: none; color: #fff;}



.divselect{width: calc((100% - 7em) - 30px) !important; position:relative; z-index:10; display: inline-block;}
.divselect1{z-index: 20;}
.divselect2{z-index: 10;}
.divselect cite{width:100%; box-sizing: border-box; line-height:35px; display:block; color:#333333; cursor:pointer;font-style:normal ;   height: 35px;
    font-size: 12px;
    border-radius: 3px;;
padding-left:10px; padding-right:30px; border:1px solid #ebeef0!important;
background:url(../images/icon-triangle-down.png) no-repeat right 15px center;}
.divselect ul{width: 100%!important;border:1px solid #ebeef0; border-radius: 5px; background-color:#ffffff; position:absolute; z-index:20000; margin-top:-5px; display:none;box-sizing: border-box; box-shadow: 0px 10px 24px 0px rgba(152, 158, 162, .3);}
.divselect ul li{height:24px; line-height:24px; margin: 3px 0;}
.divselect ul li a{display:block; height:24px; font-size: 12px; color:#333333; text-decoration:none; padding-left:10px; padding-right:10px;}
.divselect ul li a:hover{background-color:#CCC;}
.矩形_9 {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(235, 238, 240);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 24px 0px rgba(152, 158, 162, 0.004);
  position: absolute;
  left: 601px;
  top: 506px;
  width: 318px;
  height: 61px;
  z-index: 394;
}
.add-info-wrp{display: none;}
body .layui-layer-btn a{border-radius: 5px; box-sizing: border-box; height: 30px;line-height: 30px;}
body .layui-layer-btn .layui-layer-btn0{ border: 1px solid #dedede; background-color: #fff; color: #333}
body .layui-layer-btn .layui-layer-btn1{ border: none; background-color: #00aaff; color: #fff}